.container {
    width: 100%;
    left: 0;
    height: 64px;
    padding: 0 30px;
    position: absolute;
    color: #fff;
    background-color: #545c64;
  }
  .container-left {
    line-height: 64px;
    font-size: 20px;
    display: inline-block;
  }
  .container-right {
    line-height: 64px;
    font-size: 15px;
    float: right;
    display: inline-block;
  }